[core]
        excludesfile = /Users/victor/.gitignore
        editor = code --wait
[user]
        email = 13424970+victorlin@users.noreply.github.com
        name = Victor Lin
[diff]
        tool = vimdiff
[difftool]
        prompt = false
[alias]
        vimdiff = difftool
        graph = log --graph --oneline
[tag]
	sort = -creatordate
