[core]
        excludesfile = /Users/victor/.gitignore
        editor = code --wait
[user]
        email = 13424970+victorlin@users.noreply.github.com
        name = Victor Lin
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE --yes
[alias]
        graph = log --graph --oneline
[init]
        defaultBranch = main
[tag]
	sort = -creatordate
[rebase]
	autosquash = true
[branch]
	sort = -committerdate
